#task-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 15px;
}

#info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.deadline {
  font-size: x-small;
  border: 1.5px solid rgb(157, 157, 157);
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
}